//VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Cinzel Decorative', serif;
$background-color: #071325;
$text-color: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    background-color: $background-color;
    color: $text-color;
}

//HEADER
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    border-bottom: 1px solid $text-color;
    padding: 8px 10px;

    .logo img {
        width: 160px;
        margin-left: 10px;
    }

    .nav_header {
        font-family: $font-secondary;

        .menu_header {
            display: flex;
            list-style: none;

            .titulo_header a {
                color: $text-color;
                text-decoration: none;
                font-size: 25px;
                padding: 0 12px;
            }
        }
    }

    .cuenta_header {
        display: flex;
        align-items: center;

        .header_cuenta {
            color: $text-color;
            text-decoration: none;
            margin-right: 8px;
            font-size: 18px;
        }

        .icono_usuario img {
            width: 40px;
            margin-right: 8px;
        }
    }
}

//FOOTER
.footer {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid $text-color;

    .footer_links {
        display: flex;
        gap: 20px;

        a {
            color: $text-color;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;

            &:hover {
                color: #bbbbbb;
            }
        }
    }
}

//BODY


// Mobile First
@media (min-width: 768px) {
    .nav_header {
        .menu_header .titulo_header a {
            font-size: 20px;
        }
    }

    .cuenta_header .header_cuenta {
        font-size: 16px;
    }

    .imagenes_home .texto-central {
        font-size: 26px; 
    }
}
