@import '../base/variables.scss';

//FOOTER
.footer {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column; // Estructura en columna para pantallas m칩viles
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid $text-color;
  
    .footer_links {
      display: flex;
      flex-direction: column; // Columna en pantallas m칩viles
      align-items: center;
      gap: 10px; // Menor espacio entre enlaces en mobile
  
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 14px; // Tama침o de fuente reducido para mobile
        transition: color 0.3s;
  
        &:hover {
          color: #bbbbbb;
        }
      }
    }
  
    // Breakpoint para pantallas m치s grandes (tablet y escritorio)
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
  
      .footer_links {
        flex-direction: row; // Fila en pantallas grandes
        gap: 20px;
  
        a {
          font-size: 16px;
        }
      }
    }
  }
  
