@use '../base/variables';


//HEADER
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    border-bottom: 1px solid $text-color;
    padding: 8px 10px;

    .logo img {
        width: 160px;
        margin-left: 10px;
    }

    .nav_header {
        font-family: $font-secondary;

        .menu_header {
            display: flex;
            list-style: none;

            .titulo_header a {
                color: $text-color;
                text-decoration: none;
                font-size: 25px;
                padding: 0 12px;
            }
        }
    }

    .cuenta_header {
        display: flex;
        align-items: center;

        .header_cuenta {
            color: $text-color;
            text-decoration: none;
            margin-right: 8px;
            font-size: 18px;
        }

        .icono_usuario img {
            width: 40px;
            margin-right: 8px;
        }
    }
}