@use '../base/variables.scss';

.button-central {
    position: absolute;
    top: 33%;
    left: 50%;
    color: $text-color;
    transform: translate(-50%, -50%);
    background: transparent;
    font-family: $font-secondary;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-top: 56px;
}