@import '../base/variables.scss';

.sala-cine-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  background-color: #1d2733;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  button {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}

// Pantalla
.pantalla {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.1);
}

// Contenedor de filas de butacas
.sala-cine {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  align-items: center;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
  flex-wrap: wrap;
}

h1 {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  text-align: center;
  color: $text-color;
  font-size: 20px;
  margin: 5px 0;
}

.butaca {
  width: 15px;
  height: 15px;
  background-color: #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.1);
    background-color: #c4c4c4; // Cambio de color al pasar el mouse
  }
}

// Estado seleccionada (butaca azul)
.butaca.seleccionada {
  background-color: #4169b8;
  box-shadow: 0 2px 4px rgba(65, 105, 184, 0.4);
}

// Estado no disponible (butaca roja)
.butaca.no-disponible {
  background-color: #e74c3c;
  cursor: not-allowed;
  box-shadow: none;

  &:hover {
    transform: none;
  }
}


.info-comprador {
  margin: 2rem 0;
  padding: 1.5rem;
  background-color: lighten($background-color, 13%); // Fondo ligeramente más claro que el fondo principal
  border: 1px solid $text-color;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); // Sombra para un diseño más dinámico

  label {
    display: block;
    font-family: $font-primary;
    font-weight: bold;
    font-size: 1rem;
    color: $text-color;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-family: $font-primary;
    font-size: 1rem;
    border: 1px solid lighten($text-color, 20%);
    border-radius: 5px;
    background-color: lighten($background-color, 5%);
    color: $text-color;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: $font-secondary;
    }
  }
}

@media (min-width: 1024px) {
  .sala-cine-container {
    width: 70%;
    gap: 10px; 
    padding: 15px;

    button {
      font-size: 18px; 
      margin-top: 15px; 
    }
  }

  .pantalla {
    font-size: 14px;
    padding: 10px;
    width: 85%;
  }

  .sala-cine {
    width: 85%;
    gap: 8px;
  }

  .fila {
    gap: 5px;
    flex-wrap: nowrap;
  }

  .butaca {
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.1);
    }
  }

  h1 {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }

  .formulario {
    max-width: 600px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    width: 50%;

    label {
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      padding: 0.75rem;
    }
  }
}