@use '../base/variables.scss';

.imagenes_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #071325;

  .imagen {
    position: relative;
    width: 90%; // Ajuste para pantallas pequeñas
    max-width: 280px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .imagen-centro {
    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Cinzel Decorative", serif;
    font-size: 20px; // Ajuste de tamaño de fuente para mobile
    text-align: center;
    z-index: 1;
    margin-top: 56px;
  }

  // Breakpoint para pantallas más grandes (tablet y escritorio)
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;

    .imagen {
      width: 28%;
    }

    .texto-central {
      font-size: 27px;
    }
  }
}
