@use '/base/variables.scss';

.imagen {
    position: relative;
    width: 28%;
    max-width: 280px;

    img {
        width: 100%;
        height: auto;
    }
}

.imagen-centro img {
    position: relative;
    width: 100%;
    height: auto;
}

.texto-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $text-color;
    font-family: $font-secondary;
    font-size: 27px;
    text-align: center;
    z-index: 1;
    margin-top: 56px;
}

