@use '../base/variables.scss';

.peliculas {
  padding: 20px;
  text-align: center;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Cinzel Decorative', serif;
  }

  .grid-peliculas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }

    .pelicula {
      background: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;

      .img-button {
        display: block;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          margin-bottom: 10px;
        }
      }

      h3 {
        font-size: 16px;
        margin: 8px 0;
        color: black;
        font-family: 'Raleway', sans-serif;
      }

      p {
        font-size: 14px;
        color: #000000;
      }
    }
  }

  
  
}
