// Estilos para los botones combinados
.pelicula-botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  .btn-opcion {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #071325;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #4169b8;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

// Estilo para el modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &.mostrar {
    display: flex;
  }

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h3 {
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }

    .btn-cerrar {
      padding: 10px 20px;
      font-size: 14px;
      color: #fff;
      background-color: #e74c3c;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-comprar{
      padding: 10px 20px;
      font-size: 14px;
      color: #fff;
      background-color: #57d11e;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
    }

     
    }
  }


// Responsividad para pantallas más grandes
@media (min-width: 768px) {
  .pelicula-botones {
    flex-direction: row;
    justify-content: space-between;

    .btn-opcion {
      flex: 1;
      margin: 0 10px;
    }
  }
}
