@import '../base/variables.scss';

@import '../layout/footer.scss';
@import '../layout/header.scss';
@import '../layout/body.scss';


@import '../pages/home.scss';


@import '../components/buttons.scss';
@import '../components/carrusel.scss';


