@import '../base/variables.scss';

@import '../layout/footer.scss';
@import '../layout/header.scss';
@import '../layout/body.scss';

@import '../pages/home.scss';
@import '../pages/peliculas.scss';

@import '../components/buttons.scss';


